
p {
    color: #2f2a2a;
    width: 85%;
    padding: 30px;
    margin: 10px;
    background-color: #8f5353;
}
h3 {
    color: #600000;
}
h2 {
    color:#413f3f
}
h1 {
    color: #600000;
}
.content {
    display: flex;
    flex-direction: column;
}




