h1 {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    color: #49ffd1
}
.row {
    font-size: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
body {
    background-image: url("602016e4cc2c61721971a5780302c6ff-700.jpg");
}
#water {
    color: #0883d2;
}
#fire {
    color: #a42311;
}
#earth {
    color: #185625;
}
#air {
    color: #bfbdbd;
}
.col-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-end;
    border-left: 1px solid black;
    padding: 10px
}

.col-1 {
    display: flex;
    flex-direction: column;
}
.row2 {
    font-size: 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



